/* Boardwalk Games - Main Stylesheet */

/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
    --primary-color: #3a2620; /* Dark Brown */
    --secondary-color: #aa9581; /* Light Brown */
    --highlight-color: #416a8e; /* Soft Blue */
    --highlight-color-light: #7a9fc2; /* Very Light Blue */
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Macondo', cursive;
}

/* Global Styles */
body {
    font-family: var(--primary-font);
    padding: 57.15px; /* to offset fixed navbar height */
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    
}

h1, h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    padding-top: 4rem; /*prevent overlap with fixed navbar */
}
/* Buttons */
.custom-button-field {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-field:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outline {
    border: 3px solid var(--highlight-color);
    padding: 7px 25px;
    color: var(--highlight-color);
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: white;
}
/* Navbar */
#navbar {
    background-color: var(--primary-color);
    }
#navbar .logo {
        width: 30px;
    }


/* Header */
    #header .lead {
        font-family: var(--secondary-font);
    }

/* Services Section */

#services .card-footer {
    background-color: transparent;
    font-weight: bold;
    color: var(--highlight-color);
}

#services .card {
    margin-bottom: 1.5rem;


}

/* Game library Cards */

#new-games .card,
#fav-games .card {
    border: none;
}
/* Footer / Contact Section */
#contact { background-color: var(--primary-color);
    color: white;
    padding: 3rem;
}

#contact h2 {
    color: white;
}
#contact .sub-heading-color  {
    color: var(--highlight-color-light);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.5rem;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
    transition: color 0.3s ease-in-out;
}
#contact .table-dark * {
    background-color: transparent;
}
/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */

/* Media Queries */

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) {
    /* make all service cards the same height */
    #services .card-body {
        min-height: 191px;
    }
}
/* Large Devices (Desktops, 992px and up) */
@media (min-width: 992px) {
    /* make all service cards the same height */
    #services .card-body {
        min-height: auto;
    }
}

/* Extra Large Devices (Desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* make all service cards the same height */
    #services .card-body {
        min-height: 220px;
    }
}

/* Extra extra Large Devices (Desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* make all service cards the same height */
    #services .card-body {
        min-height: 195px;
    }
}